body {
    color: blueviolet;
    text-align: center;
    font-family: "Arial";

    
}

#container
{
    width: 70%;
    padding: 0em;
    text-align: center;
    border: 2px solid black;
    margin: 0 auto;
}

#container h2
{
    font-size: 40px;
}

#cabecera
{
    background-color: #33A;
    box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.74);
    color: white;
    margin: 0;
    padding: 0.5cm;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
}

#cabecera #Extra
{
    padding: 0 0 0 0.5cm;
    font-weight: normal;
    font-size: 0.6cm;

}

